* {
  padding: 0;
  margin: 0;
  font-family: "Staatliches", cursive;
}
html {
  height: 100%;
  width: 100%;
}
body {
  min-height: 100%;
  background-color: var(--primary);
  display: flex;
  flex-direction: column;
}

/*VARIABLES*********************************************************************************************/
:root {
  --primary: #2f5061;
  --secondary: #e57f84;
  --accentOne: #f4eae6;
  --accentTwo: #4297a0;
}

/*NAV BAR STYLING**************************************************************************************/
nav {
  position: sticky;
  z-index: 10;
  top: 0;
  height: 90px;
  width: 100%;
  background: linear-gradient(
    45deg,
    var(--primary) 0%,
    var(--primary) 24.9%,
    var(--secondary) 25%,
    var(--secondary) 49.9%,
    var(--accentTwo) 50%,
    var(--accentTwo) 74.9%,
    var(--accentOne) 75%
  );
  border-bottom: 1px solid var(--accentOne);
}
h1 {
  display: flex;
  align-items: center;
  padding-left: 25px;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  font-size: 50px;
  font-weight: normal;
  color: transparent;
  font-family: "Monoton", cursive;
  background: linear-gradient(
    45deg,
    var(--accentOne) 0%,
    var(--accentOne) 24.9%,
    var(--primary) 25%,
    var(--primary) 49.9%,
    var(--accentOne) 50%,
    var(--accentOne) 74.9%,
    var(--secondary) 75%
  );
  -webkit-background-clip: text;
}
#addBookMenuButton {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--accentOne);
  height: 40px;
  width: 40px;
  background-color: var(--accentTwo);
  border-radius: 20px;
  margin-right: 15px;
  top: 25px;
  right: 10px;
}
#addBookMenuButton:hover {
  cursor: pointer;
  background-color: var(--secondary);
}
#addBooks {
  z-index: 11;
  position: fixed;
  top: 28px;
  right: 70px;
  display: flex;
  align-items: center;
  font-size: 25px;
  color: var(--accentTwo);
  background-color: var(--accentOne);
  padding: 0px 10px 0px 10px;
  border-radius: 5px;
}
#addBooks > .material-icons {
  font-size: 36px;
  margin-bottom: 3px;
}

/*SHELF*************************************************************************************************/
#shelf {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  justify-items: center;
  gap: 40px;
  margin-top: 40px;
  margin-bottom: 40px;
  padding-left: 100px;
  padding-right: 100px;
}

/*BOOK STYLING******************************************************************************************/
.book {
  position: relative;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--secondary);
  height: 350px;
  width: 280px;
  color: var(--accentOne);
  word-wrap: break-word;
  padding: 20px;
  -webkit-box-shadow: 0px 0px 30px 2px rgb(0 0 0 / 51%);
  box-shadow: 0px 0px 30px 2px rgb(0 0 0 / 51%);
}
.title {
  font-size: 40px;
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
}
.author {
  display: block;
  box-sizing: content-box;
  font-size: 20px;
  color: var(--accentOne);
  background-color: var(--accentTwo);
  padding: 8px;
  border-radius: 7px;
}
.pages {
  font-size: 20px;
  position: absolute;
  right: 18px;
  bottom: 18px;
}
.book > span {
  position: absolute;
  left: 15px;
  bottom: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--accentTwo);
  color: var(--accentOne);
  height: 30px;
  width: 30px;
  border-radius: 50%;
  cursor: pointer;
}
.book > span:hover {
  color: var(--accentTwo);
  background-color: var(--accentOne);
}
.readStatusContainer {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  bottom: 15px;
}
.readStatusContainer > p {
  font-size: 20px;
}

/*ADD BOOK MENU STYLING**********************************************************************************/
#addBookMenuContainer {
  z-index: 11;
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  min-height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.6);
}
#addBookMenu {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 500px;
  width: 400px;
  background-color: var(--secondary);
}
#addBookMenu > h2 {
  margin: 40px;
  font-size: 40px;
  color: var(--accentOne);
  background-color: var(--accentTwo);
  padding: 5px 15px 5px 15px;
  border-radius: 5px;
}
form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
form > input {
  width: 280px;
  border: none;
  margin: 10px;
  font-size: 25px;
  padding: 10px;
  border-radius: 5px;
  background-color: var(--accentOne);
  color: var(--primary);
}
#readInfo {
  display: flex;
  align-items: center;
  margin: 15px;
  font-size: 20px;
  color: var(--accentOne);
}
#readInfo > p {
  margin-right: 10px;
}
#submitForm {
  font-size: 25px;
  height: 40px;
  width: 100px;
  border: none;
  border-radius: 5px;
  background-color: var(--accentTwo);
  color: var(--accentOne);
}
#submitForm:hover {
  cursor: pointer;
  color: var(--accentTwo);
  background-color: var(--accentOne);
}

/*CHECKBOX********************************************************************************************************/
.checkbox {
  background-color: var(--accentOne);
  width: 30px;
  height: 30px;
  overflow: hidden;
  border-radius: 3px;
  color: var(--accentOne);
  cursor: pointer;
}
.checkbox > span {
  user-select: none;
  width: 30px;
  height: 30px;

  display: flex;
  align-items: center;
  justify-content: center;
}
.checkbox_true {
  color: var(--accentOne);
  background-color: var(--accentTwo);
}
.trueCheckbox {
  display: block;
}

/*AUTHOR INFO********************************************************/
footer {
  display: flex;
  justify-content: center;
  align-content: center;
  height: 50px;
  background-color: var(--primary);
  border-top: 1px solid var(--accentOne);
}
#author {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: underline;
  opacity: 0.8;
}
#author > a:hover {
  color: var(--secondary);
}
#author > a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  text-decoration: none;
  color: var(--accentOne);
  font-size: 20px;
}
